<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.mytweet">

    <application
        android:allowBackup="true"
        android:name=".app.MyTweetApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignupActivity"
            android:label="@string/app_signup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.mytweet.activities.WelcomeActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.mytweet.activities.WelcomeActivity" />
        </activity>
        <activity
            android:name=".activities.TimelineListActivity"
            android:label="@string/app_timeline"></activity>
        <activity
            android:name=".activities.MyTweetPagerActivity"
            android:label="@string/app_mytweet">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.mytweet.activities.TimelineListActivity" />
        </activity>
    </application>

</manifest>